[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
cython = "*"
spacy = "*"
flask = "*"
flask-sqlalchemy = "*"
jinja2 = "*"
tweepy = "*"
python-dotenv = "*"
scikit-learn = "*"
gunicorn = "*"
psycopg2-binary = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.9"
